:root {
  --form-padding: 10px 35px;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  background: rgb(5, 12, 5);
}

.container {
  /* Center the div */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* Center the div */
  width: 800px;
  height: 100vh;
  background: rgb(248, 248, 248);
  display: flex;
}


/* IMAGE CONTAINER */
.image-container {
  flex: 1.5;
  position: relative;
  /* Background */
  background-image: url(sign-up-page-assets/sign-up-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  /* Background */
}

.logo {
  width: 100%;
  height: 80px;
  padding: 10px 0;
  line-height: 50px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo p {
  font-size: 4em;
  color: white;
  margin-left: 5px;
}

.logo img {
  height: 80px;
}
/* IMAGE CONTAINER */


/* FORM CONTAINER */
.form-container {
  font-size: 0.8em;
  flex: 2;
}

.text-section {
  font-size: 1em;
  font-weight: 500;
  padding: var(--form-padding);
}

.form-section {
  width: 100%;
  background: white;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: var(--form-padding);
}

.form-section h4 {
  /* Pushes everything else onto a new line */
  width: 100%;
  margin: 0;
}

.form-section label {
  display: block;
  font-size: 1em;
}

.form-section > p {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.form-section input {
  font-size: 0.9em;
  margin: 0;
  padding: 0.3em;
  width: 160px;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid black;
}

input:focus {
  outline: none;
  box-shadow: 0 5px 4px rgb(58, 95, 11, 0.8);
}

/* VALIDATION STYLES */
input.valid {
  border: 2px solid rgb(58, 95, 11);
  border-radius: 5px;
}

input.invalid {
  border: 2px solid rgb(187, 50, 50);
  border-radius: 5px;
}

input + span {
  font-size: 0.9em;
  font-family: inherit;
  color: rgb(187, 50, 50);
  margin-top: 8px;
  opacity: 0;
  height: 0;
}

input.invalid + span {
  opacity: 1;
  height: auto;
}

/* VALIDATION STYLES */

.confirm {
  padding: var(--form-padding);
}

.confirm button {
  font-size: 0.8em;
  border: none;
  border-radius: 0.3em;
  padding: 8px 30px;
  background: rgb(58, 95, 11);
  color: white;
  cursor: pointer;
}

.confirm button:hover {
  background:rgba(58, 95, 11, 0.8);
}

.login {
  font-size: 0.9em;
}

.login a {
  text-decoration: none;
  color: rgb(58, 95, 11);
}

login a:hover {
  color: rgba(58, 95, 11, 0.8);
}
/* FORM CONTAINER */